@model List<GetAllAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yazar İşlemleri</h4>
                        <p class="card-subtitle mb-4">
                            Sitede bulunan yazar bilgilerini görüntüleyebilir ve yönetebilirsiniz.
                        </p>

                        <a href="/Admin/Author/Create" class="btn btn-primary">Yeni Yazar</a>
                        <br />
                        <br />
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>İsim</th>
                                        <th>Açıklama</th>
                                        <th>Blogları</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td><img src="@item.ImgUrl" width="50" height="50" class="mx-2" />@item.Name</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/Author/Blogs/@item.Id" class="btn btn-outline-warning">Yazar Blogları</a></td>
                                            <td><a href="/Admin/Author/Update/@item.Id" class="btn btn-outline-warning">Güncelle</a></td>
                                            <td><a href="/Admin/Author/Remove/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>

        </div>


    </div>
</div>
