@model CreateCategoryDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Blog Kategori</h4>
                        <p class="card-subtitle mb-4">Sitenize blog kategorilerinizi kolay bir şekilde ekleyin.</p>

                        <form method="post">
                            
                            <div class="form-group">
                                <label for="Name">Adı</label>
                                <input type="text" class="form-control" id="Name" placeholder="Adı" asp-for="Name" />
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kategori Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


