@model GetAllAuthorDto
<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        @if (Model.ImgUrl != null)
        {
            <img src="@Model.ImgUrl" alt="" class="img-fluid mb-4">
        }
        

    </div>
    <div class="desc">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
    </div>
</div>