@model CreateTestimonialDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Referans</h4>
                        <p class="card-subtitle mb-4">Referanslarınızı kolay bir şekilde ekleyin.</p>

                        <form method="post">
                            
                            <div class="form-group">
                                <label for="Name">Adı</label>
                                <input type="text" class="form-control" id="Name" placeholder="Adı" asp-for="Name" />
                            </div>

                            <div class="form-group">
                                <label for="Title">Adı</label>
                                <input type="text" class="form-control" id="Title" placeholder="Başlık" asp-for="Title" />
                            </div>

                            <div class="form-group">
                                <label for="Comment">Yorum</label>
                                <input type="text" class="form-control" id="Comment" placeholder="Yorum" asp-for="Comment" />
                            </div>

                            <div class="form-group">
                                <label for="ImgUrl">Resim Yolu</label>
                                <input type="text" class="form-control" id="ImgUrl" placeholder="Resim Yolu" asp-for="ImgUrl" />
                            </div>

                             
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Referans Kaydet</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


