<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @DateTime.Now.Year © CarBook
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Developed by <a href="https://hamdidamar.com/" target="_blank">Hamdi Damar</a>
                </div>
            </div>
        </div>
    </div>
</footer>