<head>
    <meta charset="utf-8" />
    <title>CarBook - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/theme/Admin/vertical/assets/images/favicon.ico">
    <link href="~/theme/Admin/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/Admin/vertical/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/Admin/vertical/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

</head>